/**
 * GreenTube styles
 *
 * Notice: cross site scripting (XSS) can be triggered for some browsers. Example in Firefox:
 *
 *    http://www.greentube.com/frontend/?url=asd.css%22%20%20/%3E%3Cimg%20src=http://lorempixel.com/10/10/%20%20onload=window.alert%28!![]%29%20/%3E
 *
 */

/**
 * Normalize css
 * https://github.com/necolas/normalize.css/tree/v1
 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline;zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
html,button,input,select,textarea{font-family:sans-serif;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:.67em 0;}
h2{font-size:1.5em;margin:.83em 0;}
h3{font-size:1.17em;margin:1em 0;}
h4{font-size:1em;margin:1.33em 0;}
h5{font-size:.83em;margin:1.67em 0;}
h6{font-size:.67em;margin:2.33em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}
pre{white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:none;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
dd{margin:0 0 0 40px;}
menu,ol,ul{padding:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
legend{border:0;white-space:normal;margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;overflow:visible;}
button[disabled],html input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;height:13px;width:13px;padding:0;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure,form{margin:0;}
p,pre,dl,menu,ol,ul{margin:1em 0;}

/**
 * Base styles
 */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*behavior: url(boxsizing.htc);

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #333;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    color: #2a6496;
    text-decoration: underline;
}

p {
    font-size: 14px;
}

/**
 * Header
 */

#header {
    background: #463265;
    padding: 20px;
}

#header h1 {
    margin: 0;
}

#header h1 a {
    display: block;
    text-indent: -9999px;  /* "imagereplacement" */
    overflow: hidden;
    width: 300px;
    height: 100px;
    background-image: url(http://lorempixel.com/300/100/);
    border-radius: 100px 0 100px;
}

#header p {
    color: #fff;
    font-family: Georgia;
    font-style: italic;
    width: 300px;
    text-align: right;
    font-size: 36px;
    margin: 0;
}

/**
 * Navigation
 */

#nav ul {
    margin: 0;
    padding: 0;
    display: block;
}

#nav ul li {
    display: block;
    float: left;
}

#nav ul li a {
    display: block;
    padding: 8px 16px;
}

/*active menu point must use the body class*/
body.home #btnHome {text-decoration: underline;}
body.about #btnAbout {text-decoration: underline;}
body.contact #btnContact {text-decoration: underline;}
body.links #btnLinks {text-decoration: underline;}

/**
 * Content
 */

#content {
    float: left;
    width: 80%;
}

/**
 * Sidebar
 */

#sidebar {
    float: left;
    width: 20%;
}

#sidebar .flickr {
    padding: 0 20px;
}

/* flickr images */

.flickr_badge_image {
    float: left;
    overflow: hidden;
    width: 50%;
}

#links {
    padding: 0 20px;
}

#links ul {
    margin: 0;
    padding-left: 10px;
    font-size: 12px;
}

/**
 * Footer
 */

#footer {
    clear: both;
    background: #463265;
    padding: 10px;
    color: white;
}

/**
 * Clearfixed elements
 */

/* For modern browsers */
#main:before,
#main:after,
#sidebar .flickr:before,
#sidebar .flickr:after,
#nav ul:before,
#nav ul:after {
    content:"";
    display:table;
}
#sidebar .flickr:after,
#main:after,
#nav ul:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
#sidebar .flickr,
#main,
#nav ul {
    zoom:1;
}

